<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <!-- endbower -->
        <!-- endbuild -->
    </head>
    <body ng-app="ngconfManagerApp" ng-cloak>
        <!--[if lte IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <md-content>
            <div ng-controller="MenuCtrl as ctrl" ng-cloak>
                <md-toolbar class="md-menu-toolbar">
                    <div layout="row">
                        <md-toolbar-filler layout layout-align="center center">
                            <md-icon md-svg-icon="call:chat"></md-icon>
                        </md-toolbar-filler>
                        <div>
                            <h2 class="md-toolbar-tools" ng-bind="project.name || '请打开一个项目'"></h2>
                            <md-menu-bar>
                                <md-menu>
                                    <button ng-click="$mdMenu.open()">
                                        项目
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button>新建</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="openProject()">打开</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu>
                                    <button ng-click="$mdMenu.open()">
                                        配置
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button>保存</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button>重置</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-bar>
                        </div>
                    </div>
                </md-toolbar>
            </div>

            <div ng-controller="ProfileListCtrl">
              <md-content class="page-container">
                <div layout="row">
                  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
                    <md-toolbar class="md-theme-indigo">
                      <h1 class="md-toolbar-tools">配置列表</h1>
                    </md-toolbar>
                    <md-content>
                      <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab md-on-select="selectProfile(profile)" ng-repeat="(profileName, profile) in profiles" label="{{profile.name}}">
                          <div>
                            <md-input-container>
                              <label>版本</label>
                              <md-select ng-model="version">
                                <md-option ng-value="version" ng-repeat="version in profiles[profile.name].versions">{{version}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div ng-show="dirs.length || currentPath !== '/'">
                            <md-subheader class="md-primary">文件夹</md-subheader>
                            <md-list layout-padding>
                              <md-list-item ng-show="currentPath !== '/'" ng-click="selectPrevPath()" class="md-1-line">..</md-list-item>
                              <md-list-item ng-click="selectDir(dir)" ng-repeat="dir in dirs" class="md-1-line">{{dir.name}}</md-list-item>
                            </md-list>
                          </div>
                          <div ng-show="files.length">
                            <md-subheader class="md-primary">文件</md-subheader>
                            <md-list layout-padding>
                              <md-list-item ng-repeat="file in files" class="md-1-line">{{file.name}}</md-list-item>
                            </md-list>
                          </div>
                        </md-tab>
                      </md-tabs>
                    </md-content>
                  </md-sidenav>
                  <div ng-view></div>
                </div>
              </md-content>
            </div>
        </md-content>


        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/profile_list.js"></script>
        <script src="scripts/services/projects.js"></script>
        <!-- endbuild -->
    </body>
</html>
